<div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">О НАС<span class="logo_colour"> и нашем проекте</span></a></h1>
          <h2>Пытаемся вникнуть в патерны</h2>
        </div>
      </div>

    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->

      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>НАШИ КОНТАКТЫ</h1>
        <p>Будем вместе учится и развиватся. Желаю всеп плодотворной работы.</p>
        <form action="" method="post">
			<fieldset>
				<legend>Обратная связь</legend>
				<p><label class="title" for="name">Ваше имя:</label>
					 <input type="text" name="name" id="name"><br />
					 <label class="title" for="email">Ваш email:</label>
					 <input type="text" name="email" id="email"></p>
				<p><label for="location" class="title">Ваш город:</label>
					 <select name="location" id="location">
						 <option value="Moscow">Москва</option>
						 <option value="SPB">Санкт-Петербург</option>
						 <option value="EKB">Екатеринбург</option>
					 </select></p>
				<span class="title">Являетесь участником?</span>
				<label><input type="radio" name="member" value="yes" /> Да</label>
				<label><input type="radio" name="member" value="no" /> Нет</label></p>
                <textarea name="" id="" cols="50" rows="10" placeholder="введите текст"></textarea><br>
			</fieldset>
 	    <div class="submit"><input type="submit" value="Отправить" /></div>
		</form>
        </ul>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      Это подвал
    </div>
  </div>